<html>

<head>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
</head>

<body>
	<strong> {{user.name}} ({{ user.email}}) : </strong>
	<p> {{content}} </p>

</body>


</html>
